body{
    margin: 0;
    min-height: 100dvh;
    background-color: #cfffdc;
}

img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.grid-container{
    display: grid;
    grid-template-columns: minmax(250px,3fr) 10fr minmax(50px,1.25fr) minmax(50px,1.25fr);
    grid-template-rows: 100px;
    justify-content: end;
}

.panel{
    background-color: #F6FEF8;
    grid-column: 1 / 5;
    grid-row: 1 / 2;
}

.cart, .bio-data{
    min-width: 50px;
    min-height: 50px;
    padding: 10px;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    flex:1;
    justify-content: flex-end;
}

.cart{
    min-width: px;
    min-height: 25px;
    grid-column: 3 / 4;
}
.cart a i{
    scale: 2;
    color: #253D2C;
}

.bio-data a{
    width: 60%;
    height: 60%;
}

.bio-data a i{
    scale: 3;
    color: #253D2C;
}
.cart a i, .bio-data a i{
    transition: all 0.1s ease-in-out;
}

.cart a i:hover{
    scale:2.2;
}
.bio-data a i:hover{
    scale:3.2;
}

.logo{
    display: flex;
    align-items: center; 
    padding-left: 10px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    transition: all 0.1s linear;
}

.logo:hover{
    scale:1.02;
}

.search-bar{
    display: flex;
    align-items: center; 
    justify-content: flex-end;
    padding-right: 4em;
    padding-left: 10px;
    grid-column: 2/3;
    grid-row: 1 / 2;
}

.search-bar input{
    border: 2px solid #7acc92;
    border-radius: 30px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 0.92em;
    width: 25em;
    transition: 0.25s;
    outline: none;
}

.search-bar input[type=text]:focus{
    border: 2px solid #253D2C;
}

.search-bar input[type=text]:focus +* i{
    border-color: #253D2C;
}

.search-bar i{
    color: #253D2C;
    margin-top: 0em;
    padding: 0.73em;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 2px solid #7acc92;
    border-left: 0px;
    transition: 0.25s;

}

::placeholder{
    color: #598064d5;
    font-size: medium;
}

.book-display-grid{
    height: 500px;
    justify-content: center;
    align-content: center;
    grid-template-columns: 11em 11em 11em 11em;
    grid-template-rows: auto;
    display: grid;
    gap:2em;
    column-gap: 1em;
    grid-template-areas: 
    "heading heading heading heading"
    "book2 book1 book1 book4"
    "book3 book1 book1 book5";

}

#heading{
    grid-area: heading;
    margin-bottom: 0px;
    font-size: 3rem;
    color: #2e6f40;
}

#book1,#book2,#book3,#book4,#book5{
    border-radius: 50px;
    object-fit: fill;
    overflow: hidden;
    transition: 0.5s;
}
#book1:hover{
    scale:1.2;
    box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.322);
}
#book1:hover+*,#book1:hover+*+*{
    scale:1.1;
    translate: -20px 10px 20px;
    transform:rotateY(30deg);
}

#book1:hover+*+*+*,#book1:hover+*+*+*+*{
    scale:1.1;
    translate: 20px 10px 20px;
    transform:rotateY(-30deg);
}


#book2:hover{
    scale:1.4;
    box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.322);
}
#book1:has(+ *:hover){
    scale:1.1;
    translate: 10px 0px 0px;
    transform:rotateY(-45deg);
    z-index: 10;
}
#book2:hover+*{
    scale:1.3;
    translate: 0px 10px 10px;
    transform:rotateX(40deg);
}
#book2:hover+*+*{
    scale:1.1;
    translate: 0px 10px 0px;
    transform:rotateY(-30deg);
}
#book2:hover+*+*+*{
    scale:1.1;
    translate: 0px 10px 0px;
    transform:rotateY(-30deg);
}

#book3:hover{
    scale:1.4;
    box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.322);
}
#book2:has(+ *:hover){
    scale:1.1;
    translate: 0px 10px 10px;
    transform:rotateX(-40deg);
    z-index: 10;

}
#book1:has(+*+*:hover){
    scale:1.1;
    translate: 10px 0px 0px;
    transform:rotateY(-45deg);
    z-index: 10;

}
#book3:hover+*{
    scale:1.1;
    translate: 0px 10px 0px;
    transform:rotateY(-30deg);
}
#book3:hover+*+*{
    scale:1.1;
    translate: 0px 10px 0px;
    transform:rotateY(-30deg);
}

#book4:hover{
    scale:1.4;
    box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.322);
}
#book3:has(+ *:hover){
    scale:1.1;
    translate: 0px 0px 0px;
    transform:rotateY(-30deg);
}
#book2:has(+*+*:hover){
    scale:1.1;
    translate: 0px 0px 0px;
    transform:rotateY(-30deg);
}
#book1:has(+*+*+*:hover){
    scale:1.1;
    translate: -10px 0px 10px;
    transform:rotateY(-45deg);
    z-index: 10;
}
#book4:hover+*{
    scale:1.3;
    translate: 0px 10px 10px;
    transform:rotateX(40deg);
}

#book5:hover{
    scale:1.4;
    box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.322);
}
#book3:has(+*+ *:hover){
    scale:1.1;
    translate: 0px 0px 0px;
    transform:rotateY(-30deg);
}
#book2:has(+*+*+*:hover){
    scale:1.1;
    translate: 0px 0px 0px;
    transform:rotateY(-30deg);
}
#book1:has(+*+*+*+*:hover){
    scale:1.1;
    translate: -10px 0px 10px;
    transform:rotateY(-45deg);
    z-index: 10;
}
#book4:has(+*:hover){
    scale:1.1;
    translate: 0px 10px 10px;
    transform:rotateX(40deg);
    z-index: 10;
}

#book1{
    border-radius: 75px;
    grid-area: book1; 
}

#book2{
    grid-area: book2;
}
#book3{
    grid-area: book3;
}
#book4{
    grid-area: book4;
}
#book5{
    grid-area: book5;
}