body{
    margin: 0;
    min-height: 100dvh;
    background-color: #cfffdc;
}

img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.grid-container{
    display: grid;
    grid-template-columns: minmax(250px,3fr) 10fr minmax(50px,1.25fr) minmax(50px,1.25fr);
    grid-template-rows: 100px;
    justify-content: end;
}

.panel{
    background-color: #F6FEF8;
    grid-column: 1 / 5;
    grid-row: 1 / 2;
}

.cart, .bio-data{
    min-width: 50px;
    min-height: 50px;
    padding: 10px;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    flex:1;
    justify-content: flex-end;
}

.cart{
    min-width: px;
    min-height: 25px;
    grid-column: 3 / 4;
}
.cart a i{
    scale: 2;
    color: #253D2C;
}

.bio-data a{
    width: 60%;
    height: 60%;
}

.bio-data a i{
    scale: 3;
    color: #253D2C;
}
.cart a i, .bio-data a i{
    transition: all 0.1s ease-in-out;
}

.cart a i:hover{
    scale:2.2;
}
.bio-data a i:hover{
    scale:3.2;
}

.logo{
    display: flex;
    align-items: center; 
    padding-left: 10px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    transition: all 0.1s linear;
}

.logo:hover{
    scale:1.02;
}

.search-bar{
    display: flex;
    align-items: center; 
    justify-content: flex-end;
    padding-right: 4em;
    padding-left: 10px;
    grid-column: 2/3;
    grid-row: 1 / 2;
}

.search-bar input{
    border: 2px solid #7acc92;
    border-radius: 30px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 0.92em;
    width: 25em;
    transition: 0.25s;
    outline: none;
}

.search-bar input[type=text]:focus{
    border: 2px solid #253D2C;
}

.search-bar input[type=text]:focus +* i{
    border-color: #253D2C;
}

.search-bar i{
    color: #253D2C;
    margin-top: 0em;
    padding: 0.73em;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 2px solid #7acc92;
    border-left: 0px;
    transition: 0.25s;

}

::placeholder{
    color: #598064d5;
    font-size: medium;
}

.carts{
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
}
.item{
    padding: 1.5em;
    border-radius: 2em;
    display: grid;
    background-color: white;
    grid-template-columns: 1fr 3fr;
    max-width: 50%;
    max-height: auto;
    grid-template-areas: 
    "image textarea";
    gap: 2em;
}

.item img{
    max-height: 15em;
}

