*{
    font-family: Cambria;
    margin: 0px;
}
body{
    background-image: url("backdrop.webp");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

/* Background */
.bg{
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.color{
    flex:1;
    filter: blur(50px);
}

.r{
    background-color: rgba(255, 0, 0, 0.333);
}
.g{
    background-color: rgba(0, 255, 0, 0.333);
}
.b{
    background-color: rgba(0, 0, 255, 0.333);
}

/* Login */

.wrapper{
    display:flex;
    flex-flow: row;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.login{
    text-shadow: 0px 2px 4px rgba(0,0,0,0.5);
    font-family: Verdana;
    display:flex;
    flex-flow: column;
    min-width: 400px;
    min-height: 300px;
    height: 450px;
    backdrop-filter: blur(6px);
    outline: 1px solid white;
    border-radius: 50px;
    padding: 20px;
    box-shadow: 0px 0px 50px 10px rgba(0,0,0,0.333);
}

.login h3{
    flex: 1;
    font-family: Georgia;
    margin-top: 60px;
    align-self: center;
    color:white;
    font-size: 1.25rem;
    letter-spacing: 4px;
}

.login h2{
    flex: 4;
    font-family: Georgia;
    align-self: center;
    color:white;
    font-size: 3.5rem;
    letter-spacing: 2px;
}


#input,#submit{
    flex:1;
    padding: 10px;
    margin: 10px;
    align-self: center;
    width: 200px;
    border-radius: 20px;
    outline: 3px solid white;
    border: none;
    background-color: transparent;
    font-size: medium;
    color: white;
    font-weight: bold;
}
#submit{
    width: 100px;
    padding-top: auto;
    margin-top: 30px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 30px;
}

#submit:hover{
    filter:brightness(100)
}

::placeholder{
    color: white;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7);
}
